@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    transition: all 400ms cubic-bezier(1, 0, 0, 1);
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    color: white;
}

:root {
    --bd: rgba(3, 5, 8, 1);
    --ng1: rgba(12, 15, 20, 1);
    --ng2: rgba(22, 25, 30, 1);
    --ngg: linear-gradient(to bottom, rgba(32, 35, 40, 1), rgba(22, 25, 30, 1));
    --btnstrk: 2px solid rgba(255, 255, 255, 0.2);
    --blaug: linear-gradient(to bottom, rgba(50, 128, 255, 0.3), rgba(50, 128, 255, 0.1));
    --grang: linear-gradient(to bottom, rgba(50, 255, 128, 0.3), rgba(50, 255, 128, 0.1));
    --rojog: linear-gradient(to bottom, rgba(255, 50, 50, 0.3), rgba(255, 50, 50, 0.1));
    --accent: rgba(50, 255, 128, 1);
}

body {
    background-color: var(--bd);
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: start;
    justify-content: start;
    width: 100vw;
    overflow-x: hidden;
}

nav {
    background-color: var(--ng1);
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 20px;
    align-items: center;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 50vh;
    background-color: var(--ng1);
}

section img {
    height: 100%;
}

section div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    justify-content: start;
}

#hero {
    width: 100vw;
    height: 100vh;
    display: grid;
    background-image: var(--grang);
    place-items: center;
}

#hero img {
    /*
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: scale-down;
    height: 100vh;
    width: 100vw;*/
    display: none;
}

#hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0px 0px 20px #000;
    text-align: center;
}

#hero h1 span {
    font-size: 4em;
    color: var(--accent);
}

.btn {
    display: flex;
    height: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    border: var(--btnstrk);
    background-image: var(--ngg);
}

.btn:hover {
    filter: brightness(135%);
}

.btnBlau {
    background-image: var(--blaug);
}

.btnGran {
    background-image: var(--grang);
}

.btnRot {
    background-image: var(--rojog);
}