/* Reset stuff */
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: "Be Vietnam Pro", sans-serif;
    scroll-behavior: smooth;
    color: white;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: #00000010;
}
::-webkit-scrollbar-thumb {
    background: #32ff80;
}
::-webkit-scrollbar-thumb:hover {
    background: #22af70;
}

/* variables */
:root {
    --Background: rgba(14, 16, 19, 1);
    --Darker: rgba(20, 23, 28, 1);
    --Dark: rgba(32, 35, 40, 1);
    --ACE: rgba(50, 128, 255, 1);
    --GOD: rgba(50, 255, 128, 1);
    --WOR: rgba(255, 50, 50, 1);
    --WORstroke: rgba(128, 25, 25, 1);
    --GODstroke: rgba(25, 128, 64, 1);
    --ACEstroke: rgba(25, 64, 128, 1);
}

/* button and link styles and transitions */
a:hover {
    color: var(--GOD);
}
button,
.btn {
    transition: transform 350ms ease, box-shadow 350ms ease;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    max-height: 20px;
    color: white;
}
button,
.btn {
    padding: 12px 24px;
}
button:hover,
.btn:hover {
    transform: scale(1.1);
}
button:hover,
.btn:hover {
    transform: scale(1.1);
    will-change: transform, box-shadow;
}

/* specific styles and transitions */
.navLinks a {
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    transition: color 350ms ease, background-color 350ms ease;
}
.navLinks a:hover {
    background-color: rgba(255, 255, 255, 0.05);
    will-change: background-color, color;
}

.brandFont {
    font-family: "JetBrains Mono";
}
html,
body {
    overflow-x: hidden;
    max-width: 100vw;
}
body {
    background-color: var(--Background);
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
}

nav {
    background-color: var(--Darker);
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 2px solid var(--Dark);
    box-shadow: 0px 0px 30px 0px #000;
    height: 45px;
}

nav .navLinks {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

/* sections */

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--Dark);
}

section:nth-of-type(2),
section:nth-of-type(4) {
    flex-direction: row-reverse;
    background-color: var(--Darker);
}

section div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 50px;
}

section img {
    flex: 1;
    width: 75%;
    object-fit: scale-down;
}

section h1 {
    font-size: xx-large;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    cursor: pointer;
    padding: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 50px;
    right: 0px;
    background-color: var(--Dark);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a {
    padding: 15px 20px;
    text-decoration: none;
    display: block;
}

.dropdown .dropdown-content {
    display: block;
}
#hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: var(--Background);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px;
}

#hero picture {
    width: 50%;
}

picture {
    display: inline-block;
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero img {
    width: 50%;
    height: 80%;
    object-fit: scale-down;
}

#hero h1 {
    text-shadow: 0px 5px 30px #000;
    text-align: center;
    flex: 1;
    font-size: 7vh;
    line-height: 7.25vh;
}

#hero h1 span {
    font-size: 15vh;
    line-height: 15.5vh;
    color: var(--GOD);
}
.btnBlau {
    background-color: var(--ACE);
    border: 4px solid var(--ACEstroke);
}
.btnBlau:hover {
    color: white;
    box-shadow: 0px 0px 15px 0px var(--ACEstroke);
}
.btnGran {
    background-color: var(--GOD);
    border: 4px solid var(--GODstroke);
    color: black;
}
.btnGran:hover {
    color: black;
    box-shadow: 0px 0px 15px 0px var(--GODstroke);
}
.btnRot {
    background-color: var(--WOR);
    border: 4px solid var(--WORstroke);
    color: black;
}
.btnRot:hover {
    color: black;
    box-shadow: 0px 0px 15px 0px var(--WORstroke);
}
footer {
    display: flex;
    background-color: #000;
    border-top: 2px solid var(--Dark);
    box-shadow: 0px 0px 20px 0px #000;
    width: 100vw;
    gap: 40px;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer .brands {
    display: flex;
    width: 100vw;
    gap: 40px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

footer .fsect {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

footer .fsect img {
    height: 60px;
    padding-bottom: 20px;
    object-fit: contain;
}

.stuffactualrow {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.rowWithStuff {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100vw;
    min-height: 75vh;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}
.btnArray {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
iframe {
    border-radius: 20px;
}
hr {
    width: 100%;
    height: 1px;
    background-color: var(--GOD);
}
#logosmall {
    height: 50px;
    object-fit: scale-down;
    display: none;
}
.news {
    margin-top: 100px;
    width: 100vw;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--GOD);
    text-align: center;
}
.news p,
.news a {
    color: black;
}
footer .social-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
@media only screen and (max-width: 1100px) {
    section,
    section:nth-of-type(2),
    section:nth-of-type(4) {
        flex-direction: column;
        height: 200vh;
        justify-content: center;
        padding: 20px;
        padding-bottom: 200px;
        width: calc(100vw - 40px);
    }
    section:nth-of-type(2) {
        margin-top: 100px;
    }
    #lookatit {
        display: none;
    }
    section img {
        width: 70%;
    }
    #logobig {
        display: none;
    }
    #logosmall {
        display: block;
    }
    header {
        flex-direction: column;
        height: auto;
    }
    footer .brands {
        flex-direction: column;
        justify-content: flex-start;
    }
    .btnArray,
    .stuffactualrow {
        flex-direction: column;
    }
    #hero {
        flex-direction: column-reverse !important;
        height: 175vh;
    }

    #hero img {
        width: 75%;
        height: auto;
    }
    nav {
        width: calc(100vw - 40px);
    }
}
